<div class="container">
  <h3 class="my-5"><%= @end_user.name %>さんの推し猫一覧</h3>
  <div class="row mt-5">
    <div class="col">
      <%= render "public/cats/index", cats: @cats %>
    </div>
  </div>
</div>