<table class="table table-borderless">
  <tbody>
    <% post.comments.each do |comment| %>
      <tr>
        <td><%= comment.end_user.name %></td>
        <td class="border"><%= comment.comment_content %></td>
        <td>
          <%= link_to "削除する", admin_post_comment_path(post, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>