<div class="container">
  <h3 class="mt-5">タイムライン</h3>
  <div class="row justify-content-center">
    <% if params[:post] == "likes" %>
      <p>いいねした投稿を表示中</p>
    <% elsif params[:post] == "all" %>
      <p>みんなの投稿を表示中</p>
    <% else %>
      <p>自分の猫ちゃんとブックマークした猫ちゃんの投稿を表示中</p>
    <% end %>
  </div>
  <div class="row justify-content-end">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        表示を変更する
      </button>
      <div class="dropdown-menu">
        <%= link_to "推し猫の投稿", posts_path, class: "dropdown-item" %>
        <%= link_to "いいねした投稿", posts_path(post: "likes"), class: "dropdown-item" %>
        <%= link_to "みんなの投稿", posts_path(post: "all"), class: "dropdown-item" %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <%= render "index", posts: @posts %>
  </div>
</div>