<div class="container about">
  <div class="row">
    <div class="col">
      <div class="about-img-top">
        <%= image_tag 'about-img-top.jpg' %>
      </div>
      <h3>About</h3>
      <p>
        
      </p>
      <ul>
        <li></li>
      </ul>
      <div class="about-img-bottom">
        <%= image_tag 'about-img-bottom.jpg' %>
      </div>
    </div>
  </div>
</div>