<div class="container">
  <h3 class="mt-5"><%= @end_user.name %>さんの投稿一覧</h3>
  <div class="row mt-3">
    <div class="col">
      <%= render "admin/posts/index", posts: @posts %>
    </div>
  </div>
</div>