@use '~bootstrap/scss/bootstrap';
@use 'top-button';
@use 'top-slick';
@use 'cat-img';

body {
  background-color: rgba(255, 210, 210, 1.0);
  color: rgba(128, 66, 66, 1.0);
}

.fadeInTrrigerOnce,
.fadeInDownTriggerOnce,
.fadeInTriggerOnce,
.slideInRightOnce {
  opacity: 0;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  border: medium outset rgba(204, 167, 167, 0.8);
}

.about {
  img {
    width: 600px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  li {
    list-style-type: square;
  }
}

.post-image-preview {
  width: 400px;
  height: 300px;

  @media screen and (max-width: 768px) {
    width: 300px;
    height: 225px;
  }

  @media screen and (max-width: 425px) {
    width: 200px;
    height: 150px;
  }
}

a {
  color: rgba(50, 140, 255, 1.0);
}

.table {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(128, 66, 66, 1.0);
}

.media {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(128, 66, 66, 1.0);
}

.fa-star {
  font-size: 30px;
  color: rgba(128, 66, 66, 1.0);
}

.admin-btn-cat {
  cursor: pointer;
}

.admin-link {
  display: none;
}