<footer class="pb-3">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>猫と推しは世界を変える</p>
        <div class="admin-btn">
          <i class="fa-solid fa-cat admin-btn-cat bounce-cat"></i>
          <%= link_to "管理者ログイン", new_admin_session_path, class: 'admin-link' %>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "admin-btn" %>
</footer>