<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>猫と推しは世界を変える</p>
        <i class="fa-solid fa-cat"></i>
        <%= link_to "管理者ログイン", new_admin_session_path %>
      </div>
    </div>
  </div>
</footer>